<div class="home-wrapper">
  <div class="home-container">
    <h1 class="home-title">
      Welcome to <span class="brand-highlight">Giftory</span>
      <p class="first-p">Your one-stop solution for all your gifting needs.</p>
    </h1>
    <p class="second-p">Whom do you want to gift!</p>

    <div class="categories-animated-wrapper">
      <div class="categories-animated-list-matrix">
        <div class="categories-animated-row">
          <ng-container *ngFor="let category of categories.slice(0, 4); let i = index">
            <div class="category-animated-card" (click)="selectCategory(category)">
              <div class="category-animated-shape">
                <span class="category-animated-icon">{{ getCategoryIcon(category) }}</span>
              </div>
              <span class="category-animated-name no-bg">{{ category }}</span>
            </div>
          </ng-container>
        </div>
        <div class="categories-animated-row">
          <ng-container *ngFor="let category of categories.slice(4); let i = index">
            <div class="category-animated-card" (click)="selectCategory(category)">
              <div class="category-animated-shape">
                <span class="category-animated-icon">{{ getCategoryIcon(category) }}</span>
              </div>
              <span class="category-animated-name no-bg">{{ category }}</span>
            </div>
          </ng-container>
        </div>
      </div>
    </div>
    <footer class="home-footer">
      <span>© 2026 Giftory. All rights reserved.</span>
    </footer>
  </div>
</div>
